{% extends 'base.html.twig' %}

{% block body %}
<img src="{{ asset('images/admin/banniere_admin.jpg') }}" alt="">
<div class="container mb-5">
    <div class="text-center mb-5">
        <div class="alert alert-info">💬 Vous trouverez ci-dessous le tableau contenant l'ensemble des réservation
        </div>

        {% for message in app.flashes('success') %}
        <div class="text-center alert alert-success">
            {{ message }}
        </div>
        {% endfor %}


        <a href="{{ path('admin_new_order') }}" class="btn btn-dark mt-3">Créer une reservation</a>
    </div>
    <table class="table table-bordered table-striped table-hover text-center">
        <thead class="table-dark">
            <tr>
                <th>Réservation n°</th>
                <th>Client</th>
                <th>Chambre</th>
                <th>Photo</th>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Prix total</th>
                <th>Date de création</th>
                <th>Editer</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.civility }}. {{ order.firstname }} {{ order.lastname }}<br> [ {{ order.email }} ]</td>
                <td>{{ order.rooms.title }}</td>
                <td><img src="{{ asset('images/rooms/' ~ order.rooms.image) }}" alt="photo de la chambre"
                        style="height: 120px; width: 120px; object-fit: contain;"></td>
                <td>{{ order.startAt | date('d/m/Y') }}</td>
                <td>{{ order.endAt | date('d/m/Y') }}</td>
                <td>{{ order.total }} €</td>
                <td>{{ order.createdAt | date('d/m/Y à H:i:s') }}</td>
                <td><a href="{{ path('admin_edit_order', {id: order.id}) }}" class="btn btn-warning" style="color: #FFFFFF;"><i
                            class="fa-solid fa-pen-to-square"></i></a></td>
                <td><a href="{{ path('admin_delete_order', {id: order.id}) }}" class="btn btn-danger"><i
                            class="fa-solid fa-trash-can"></i></a></td>
            </tr>
            {% endfor %}

        </tbody>
    </table>

</div>
{% endblock %}